prefix              = "shipyard-dev"
location            = "eastus2"
resource_group_name = "rg-shipyard-dev"

# Allowed values: aks, container_apps
deploy_targets = ["aks", "container_apps"]

vnet_cidr = "10.70.0.0/16"

subnet_cidrs = {
  infra              = "10.70.0.0/24"
  aks_nodes          = "10.70.1.0/24"
  container_apps_env = "10.70.2.0/24"
  private_endpoints  = "10.70.3.0/24"
  vdi_integration    = "10.70.4.0/24"
}

aks_node_count = 2
aks_vm_size    = "Standard_D4s_v5"

container_app_image = "mcr.microsoft.com/devcontainers/base:ubuntu"

tags = {
  environment = "demo"
  managedBy   = "terraform"
  workload    = "remote-devcontainer"
  owner       = "platform-engineering"
}
